<div class="container_shopping-list">
  <div class="box-title">
    <h1 class="title">
      {{ 'pages.explore.map.shopping_cart.shopping_cart_list.title' | translate }}
    </h1>
    <div *ngIf="features.length > 0">
      <button
        mat-flat-button
        style="margin-right: 10px;"
        color="warn"
        (click)="clearList()"
      >
        {{ 'pages.explore.map.shopping_cart.shopping_cart_list.button.clear' | translate }}
      </button>
      <button
        *ngIf="logged"
        (click)="downloadLinks()"
        mat-raised-button
        color="primary"
      >
        {{ 'pages.explore.map.shopping_cart.shopping_cart_list.button.download' | translate }}
      </button>
    </div>
  </div>

  <app-alert
    type="warning"
    message="Empty cart!"
    *ngIf="features.length === 0">
  </app-alert>

  <section *ngIf="features.length > 0">
    <div class="instructions" *ngIf="!logged">
      <p>
        <b>
          {{ 'pages.explore.map.shopping_cart.shopping_cart_list.message.error.not_logged' | translate }}
        </b>
      </p>
    </div>

    <div class="box-list" *ngFor="let collection of collections">
      <p style="font-size: 1.1em; text-transform: capitalize;"><b>{{ collection }}:</b></p>

      <div class="list">
        <div *ngFor="let feature of filterFeatures(features, collection)" class="image-card">
          <img [src]="feature.assets.thumbnail.href" />
          <div class="description">
            <p>{{ formatID(feature.id) }}</p>
            <p>{{ getFormattedDate(feature.properties.datetime) }}</p>
            <button
              mat-flat-button
              color="warn"
              (click)="removeFeatureOfDownload(feature)"
            >
              {{ 'pages.explore.map.shopping_cart.shopping_cart_list.collection.button.remove' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
