.mat-form-field-subscript-wrapper {
  margin: 0 !important;
}

.mat-form-field {
  margin-top: -15px !important;
  font-size: 0.85em !important;
}

.container-search {
    padding: 10px 0px;

    .search__region-box {
        margin: 0px 5px 35px 5px;
        border-radius: 5px;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .box-content {
            padding: 20px 10px 0 10px;

            .box-coordinates {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .mat-form-field {
                    width: 50%;
                    padding: 0 5px;
                }

                .field-top-bottom {
                    width: 60%;
                    margin: 0 20% 0 20%;

                    .mat-form-field {
                        width: 100% !important;
                        padding: 0 5px;
                    }
                }
            }

        }

        .region__btn-functions {
            display: block;
            margin: -20px auto 5px auto;
        }
    }

    .search_dates-box {
        display: flex;
        width: 97%;
    }

    hr {
        margin: 0px 0 15px 0;
        padding: 0;
        border: 0.5px dashed var(--mainBgPrimary);
    }

    .btn-filter {
        background: var(--mainBgPrimary);
        width: 75%;
        font-size: 1.2em;
        display: block;
        margin: 0 auto;
    }
}
