<div class='container-search'>

  <form [formGroup]='formGroup' (ngSubmit)='search()'>

    <div class='search__region-box'>
      <!-- north / west / east / south -->
      <div class='box-content'>
        <div class='box-coordinates'>
          <mat-form-field appearance='outline'
            class='field-top-bottom'>
            <mat-label>
                {{ 'pages.explore.sidenav.search.form.north' | translate }}
            </mat-label>
            <input matInput
              type='number'
              name='north'
              placeholder='N'
              [(ngModel)]='formFields.bbox.north'
              formControlName='north'
              required />
          </mat-form-field>

          <div style="display: flex; width: 97%;">
            <mat-form-field appearance='outline'>
              <mat-label>
                  {{ 'pages.explore.sidenav.search.form.west' | translate }}
              </mat-label>
              <input matInput
                type='number'
                name='west'
                placeholder='W'
                [(ngModel)]='formFields.bbox.west'
                formControlName='west'
                required />
            </mat-form-field>
            <mat-form-field appearance='outline'>
              <mat-label>
                  {{ 'pages.explore.sidenav.search.form.east' | translate }}
              </mat-label>
              <input matInput
                type='number'
                name='east'
                placeholder='E'
                [(ngModel)]='formFields.bbox.east'
                formControlName='east'
                required />
            </mat-form-field>
          </div>

          <mat-form-field appearance='outline'
            class='field-top-bottom'>
            <mat-label>
                {{ 'pages.explore.sidenav.search.form.south' | translate }}
            </mat-label>
            <input matInput
              type='number'
              name='south'
              placeholder='S'
              [(ngModel)]='formFields.bbox.south'
              formControlName='south'
              required />
          </mat-form-field>
        </div>
      </div>

      <!-- visibility and clear buttons -->
      <div class='region__btn-functions'>
        <button type='button'
          mat-stroked-button
          class='preview_box'
          *ngIf='isBboxNotEmpty()'>
          <mat-icon (click)='previewBbox(formFields.bbox)' class='preview'>visibility</mat-icon>
          |
          <mat-icon (click)='removeLayerBbox()'>clear</mat-icon>
        </button>
      </div>
    </div>

    <!-- start/end Date -->
    <div class="search_dates-box">
      <mat-form-field appearance='outline' style='width: 50%'>
        <mat-label>
          {{ 'pages.explore.sidenav.search.form.start_date' | translate }}
        </mat-label>
        <input matInput
          [matDatepicker]='start_date'
          placeholder='Start Date'
          name='start_date'
          formControlName='start_date'
          required
          [(ngModel)]='formFields.start_date'>
        <mat-datepicker-toggle matSuffix [for]='start_date'></mat-datepicker-toggle>
        <mat-datepicker #start_date></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance='outline' style='width: 50%'>
        <mat-label>
            {{ 'pages.explore.sidenav.search.form.end_date' | translate }}
        </mat-label>
        <input matInput
          [matDatepicker]='end_date'
          placeholder='Last Date'
          name='end_date'
          formControlName='end_date'
          required
          [(ngModel)]='formFields.end_date'>
        <mat-datepicker-toggle matSuffix [for]='end_date'></mat-datepicker-toggle>
        <mat-datepicker #end_date></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- cloud cover -->
    <mat-form-field appearance='outline'>
      <mat-label>
        {{ 'pages.explore.sidenav.search.form.cloud_cover' | translate }}
      </mat-label>
      <input type='number'
          min='0'
          max='100'
          matInput
          name='cloud_cover'
          [(ngModel)]='formFields.cloud_cover'
        formControlName='cloud_cover'>
      <span matSuffix>%</span>
    </mat-form-field>

    <!-- limit -->
    <mat-form-field appearance='outline'>
      <mat-label>
        {{ 'pages.explore.sidenav.search.form.limit' | translate }}
      </mat-label>
      <input type='number'
          min='0'
          max='1000'
          matInput
          name='limit'
          [(ngModel)]='formFields.limit'
        formControlName='limit'>
      <span matSuffix>%</span>
    </mat-form-field>

    <!-- button -->
    <button type='submit' mat-raised-button color='primary' class='btn-filter'>
      {{ 'pages.explore.sidenav.search.form.button.submit' | translate }}
    </button>
  </form>
</div>
