<aside class="sidenav">
  <div class="container-sidenav">

    <header>
      <div class="sidenav-logo">
        <img class="logo" src="/catalogo/assets/images/logo_inpe.png">

        <p class="title">
          {{ 'pages.explore.sidenav.title' | translate }}
        </p>
        <p class="subtitle">
          {{ 'pages.explore.sidenav.subtitle' | translate }}
        </p>
      </div>
    </header>

    <mat-tab-group
      [selectedIndex]="selected.value"
      (selectedIndexChange)="changeStep($event)">

      <!-- dataset -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>list</mat-icon>
          <div class="sidenav-tab-title">
            {{ 'pages.explore.sidenav.dataset.title' | translate }}
          </div>
        </ng-template>

        <div class="sidenav_content">
          <app-dataset (stepToEmit)="changeStep($event)"></app-dataset>
        </div>
      </mat-tab>

      <!-- search -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>search</mat-icon>
          <div class="sidenav-tab-title">
            {{ 'pages.explore.sidenav.search.title' | translate }}
          </div>
        </ng-template>

        <div class="sidenav_content">
          <app-search (stepToEmit)="changeStep($event)"></app-search>
        </div>
      </mat-tab>

      <!-- result -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>list</mat-icon>
          <div class="sidenav-tab-title">
            {{ 'pages.explore.sidenav.result.title' | translate }}
          </div>
        </ng-template>

        <div class="sidenav_content">
          <app-tile></app-tile>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</aside>
