// remove horizontal scroll bar
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0 !important;
  padding: 10px !important;
 }

.sidenav {
    display: flex;
    height: 100%;
    background: var(--mainBgLight);
    overflow: auto;

    .container-sidenav {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        width: 350px;

        header {
            .sidenav_logo {
                padding: 30px 0 30px 0;
                color: var(--mainColor);
                background: var(--mainBgGray);
                font-size: 1.2em;
                font-weight: 400;
                text-align: center;
                font-family: Roboto, "Helvetica Neue", sans-serif;

                p {
                    padding: 0;
                    margin: 10px 0 5px 0;
                }

                .title {
                  font-size: x-large;
                  font-weight: 700;
                }

                .subtitle {
                  font-size: large;
                  margin-top: 0px;
                }
            }
        }

        .sidenav-tab-title {
          font-size: medium;
        }

        .sidenav_content {
            padding: 15px;
            background: var(--mainBgLight);
        }
    }

    /* SCROLL */
    &::-webkit-scrollbar {
        width: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--mainBgPrimary);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(#FFF, 0.3);
        border-radius: 5px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(#FFF, 0.3);
    }
}

