<aside class="sidenav">
  <div class="container-sidenav">
    <header>
      <div class="sidenav_logo">
        <p style="font-weight: 700; font-size: 24px;">
          {{ 'pages.explore.sidenav.title' | translate }}
        </p>
        <p style="margin-top: 0px">
          {{ 'pages.explore.sidenav.subtitle' | translate }}
        </p>
      </div>
    </header>

    <mat-tab-group
      [selectedIndex]="selected.value"
      (selectedIndexChange)="changeStep($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>search</mat-icon>
          {{ 'pages.explore.sidenav.search.title' | translate }}
        </ng-template>

        <div class="sidenav_content">
          <app-search (stepToEmit)="changeStep($event)"></app-search>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>list</mat-icon>
          {{ 'pages.explore.sidenav.result.title' | translate }}
        </ng-template>

        <div class="sidenav_content">
          <app-tile></app-tile>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</aside>
