<aside class="sidenav">
  <div class="container-sidenav">
    <header>
      <div class="sidenav_logo">
        <p style="font-weight: 700; font-size: 24px;">DIVISÃO DE GERAÇÃO DE IMAGENS</p>
        <p style="margin-top: 0px">OBT | INPE</p>
      </div>
    </header>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>search</mat-icon>
          Search
        </ng-template>

        <div class="sidenav_content">
          <app-search (stepToEmit)="changeStep($event)"></app-search>
        </div>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>list</mat-icon>
          Results
        </ng-template>

        <app-tile></app-tile>
      </mat-tab>
    </mat-tab-group>

  </div>
</aside>
