<section class="explore">
  <mat-drawer-container autosize>

    <!-- left sidebar -->
    <mat-drawer
      #sidenav
      class="sidenav"
      mode="side"
      [opened]="true"
    >
      <app-sidenav></app-sidenav>
    </mat-drawer>

    <!-- right content -->
    <section>
      <!-- nav bar -->
      <div #toolbar>
        <app-toolbar (toggleToEmit)="toggleDrawer()"></app-toolbar>
      </div>

      <!-- map -->
      <app-base-map [height]="innerHeight"></app-base-map>

      <!-- footer -->
      <div #footer>
        <app-footer></app-footer>
      </div>
    </section>

  </mat-drawer-container>
</section>

<!-- loading component -->
<app-loading></app-loading>
