<div class="container_shopping-list">
  <!-- top menu -->
  <div class="box-title">
    <h1 class="title">
      {{ 'pages.explore.map.shopping_cart.shopping_cart_list.title' | translate }}
    </h1>
    <div *ngIf="features.length > 0">
      <button
        mat-flat-button
        style="margin-right: 10px;"
        color="warn"
        (click)="clearList()"
      >
        {{ 'pages.explore.map.shopping_cart.shopping_cart_list.button.clear' | translate }}
      </button>
      <button
        *ngIf="logged"
        (click)="downloadLinks()"
        mat-raised-button
        color="primary"
      >
        {{ 'pages.explore.map.shopping_cart.shopping_cart_list.button.download' | translate }}
      </button>
    </div>
  </div>

  <app-alert
    type="warning"
    message="Empty cart!"
    *ngIf="features.length === 0">
  </app-alert>

  <section *ngIf="features.length > 0">
    <div class="instructions" *ngIf="!logged">
      <p>
        <b>
          {{ 'pages.explore.map.shopping_cart.shopping_cart_list.message.error.not_logged' | translate }}
        </b>
      </p>
    </div>

    <div class="box-list" *ngFor="let collection of collections">
      <p style="font-size: 1.1em;"><b>{{ collection }}:</b></p>

      <div class="list">
        <div *ngFor="let feature of filterFeatures(features, collection) | paginate: { id: collection, itemsPerPage: page[collection].perPage, currentPage: page[collection].page }"
          class="image-card">
          <img [src]="feature.assets.thumbnail.href" onerror="this.src='/catalogo/assets/images/notfound.png'" />
          <div class="description">
            <p>{{ formatID(feature.id) }}</p>
            <p>{{ getFormattedDate(feature.properties.datetime) }}</p>
            <div class="box-btns">
              <button
                mat-flat-button
                class="remove"
                color="warn"
                (click)="removeFeatureOfDownload(feature)"
              >
                {{ 'pages.explore.map.shopping_cart.shopping_cart_list.collection.button.remove' | translate }}
              </button>
            </div>

            <div *ngIf="logged">
              <a *ngFor="let key of getKeys(feature.assets)"
                  [href]="generateURL(feature.assets[key]['href'])"
                  style="margin-left: 10px;">

                  <abbr [title]="key">
                    <mat-icon>cloud_download</mat-icon>
                  </abbr>
              </a>
            </div>

          </div>
        </div>

        <pagination-controls
          [id]="collection"
          (pageChange)="page[collection].page = $event"
          responsive="true"
          previousLabel=""
          style="width: 100%; display: flex; justify-content: center"
          nextLabel="">
        </pagination-controls>
      </div>
    </div>
  </section>

</div>
