<div class="results">

  <app-alert
    type="warning"
    message="No results Found!"
    *ngIf="providers.length === 0">
  </app-alert>

  <!-- get provider -->
  <div *ngIf="providers.length">
    <div *ngFor="let provider of providers" class="box-providers">
      <h2 
        class="providers_header"
        (click)="changeVisibleFeatByProvider(provider)"> 
        {{ provider }}
      </h2>

      <!-- get collection -->
      <div *ngIf="providersVisible[provider]">
        <div 
          *ngFor="let collection of getKeysFromObject(features_separate_by_providers$[provider])" 
          class="box-collection">
          <header>
            <h1>
              {{ collection }} 
              <span style="color: #000;">({{ features_separate_by_providers$[provider][collection]["features"].length }})</span>
            </h1>

            <mat-icon 
              *ngIf="providersInfos[provider]['downloadable']"
              (click)='addCollectionToShopping(provider, collection)'
              class='tile-download-button'>
              add_shopping_cart
            </mat-icon>
          </header>

          <!-- get features and pass to the child component create the table with pagination -->
          <app-feature-table-pagination
            [collection]="collection"
            [providerInfos]="providersInfos[provider]"
            [features]="features_separate_by_providers$[provider][collection]['features']"
            ></app-feature-table-pagination>
        </div>
      </div>
    </div>
  </div>

</div>
