<div class="features" *ngIf="features.length > 0">

  <!-- get provider -->
  <div *ngFor="let provider of getKeysFromObject(features_separate_by_providers$)">
    <h2> {{ provider }} </h2>

    <!-- get collection -->
    <div *ngFor="let collection of getKeysFromObject(features_separate_by_providers$[provider])">
      <h1> {{ collection }} </h1>

      <!-- get features and pass to the child component create the table with pagination -->
      <app-feature-table-pagination
        *ngIf="features_separate_by_providers$[provider][collection]['features'].length > 0"
        [features]="features_separate_by_providers$[provider][collection]['features']"
      ></app-feature-table-pagination>
    </div>

    <br>
  </div>

</div>
