.results {
    padding: 0;
    margin: 15px 0;

    .tile-download-button {
      margin-left: 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background: rgba(#000, 0.1);
      }
    }

    .box-providers {
        border-radius: 10px;
        background: #FFF;
        margin-top: 10px;
        border-top: 1px solid var(--mainColor);
        border-bottom: 1px solid var(--mainColor);

        h4 {
          margin: 5px;
        }

        .providers_header {
            background: #CCC;
            padding: 10px;
            color: #333;
            font-weight: 400;
            margin: 0;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background: #BBB;
            }
        }

        .box-collection {
            border: 1px solid #CCC;
            width: 95%;
            margin: 10px 2.5%;

            header {
                padding: 5px 10px;
                background: rgba(#000, 0.05);
                display: flex;
                align-items: center;
                color: #666;
                justify-content: space-between;
                font-size: 0.9em;
            }
        }
    }
}
