// dcd - dialog collection download
.dcd-h2 {
  margin: 10px;
}

.dcd-section {
  // display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.dcd-margin {
  margin: 0 10px;
}
