<nav>
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row class="tol_container">
      <div class="tol_cont-title">
        <div
          class="title_btn-toggle"
          (click)="toggleDrawer()">
          <mat-icon>menu</mat-icon>
        </div>
        
        <span>CATALOG</span>
      </div>

      <div class="tol_cont-buttons">
        <button
          mat-flat-button
          style="border-radius: 5px 0 0 5px"
          (click)="openLogin()">
          <mat-icon style="font-size: 20px;">https</mat-icon>
          {{ 'explore.toolbar.btns.login' | translate }}
        </button>
        <button
          mat-flat-button
          style="border-radius: 0 5px 5px 0"
          color="primary"
          (click)="openRegister()">
          <mat-icon style="font-size: 20px;">person_add</mat-icon>
          Register
        </button>

        <app-select-lang></app-select-lang>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
