<section class="dialog-register">
    <h1 class="title">
        <mat-icon>lock</mat-icon>
        DGI - INPE
    </h1>

    <form [formGroup]="formRegister" (ngSubmit)="register()">
        <div class="content">
            <p>Register</p>

            <app-alert *ngIf="error"
                [type]="error.type"
                [message]="error.message">
            </app-alert>

            <div class="display-inline">
                <mat-form-field appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input matInput
                        name="name"
                        placeholder="Name"
                        [(ngModel)]="user.name"
                        formControlName="name"
                        required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput
                        name="email"
                        type="email"
                        placeholder="E-mail"
                        [(ngModel)]="user.email"
                        formControlName="email"
                        required />
                </mat-form-field>
            </div>

            <div class="display-inline">
                <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput
                        name="phone"
                        placeholder="Phone"
                        [(ngModel)]="user.phone"
                        formControlName="phone"
                        required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>CEP</mat-label>
                    <input matInput
                        name="cep"
                        placeholder="CEP"
                        [(ngModel)]="user.cep"
                        formControlName="cep"
                        (blur)="getAddress()" 
                        required />
                </mat-form-field>
            </div>

            <div class="display-inline">
                <mat-form-field appearance="fill">
                    <mat-label>Street</mat-label>
                    <input matInput
                        name="street"
                        placeholder="Street"
                        [(ngModel)]="user.street"
                        formControlName="street"
                        required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Number</mat-label>
                    <input matInput
                        name="number"
                        placeholder="Number"
                        [(ngModel)]="user.number"
                        formControlName="number"
                        required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput
                        name="city"
                        placeholder="City"
                        [(ngModel)]="user.city"
                        formControlName="city"
                        required />
                </mat-form-field>
            </div>

            <div class="display-inline">
                <mat-form-field appearance="fill">
                    <mat-label>UF</mat-label>
                    <input matInput
                        name="uf"
                        placeholder="UF"
                        [(ngModel)]="user.uf"
                        formControlName="uf"
                        required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput
                        name="country"
                        placeholder="Country"
                        [(ngModel)]="user.country"
                        formControlName="country"
                        required />
                </mat-form-field>
            </div>

            <div class="display-inline">
                <mat-form-field appearance="fill">
                    <mat-label>Organization Name</mat-label>
                    <input matInput
                        name="org_name"
                        placeholder="Organization Name"
                        [(ngModel)]="user.org_name"
                        formControlName="org_name"
                        required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Organization Type</mat-label>
                    <input matInput
                        name="org_type"
                        placeholder="Organization Type"
                        [(ngModel)]="user.org_type"
                        formControlName="org_type"
                        required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Activity sector</mat-label>
                    <input matInput
                        name="act_sector"
                        placeholder="Activity sector"
                        [(ngModel)]="user.sector"
                        formControlName="sector"
                        required />
                </mat-form-field>
            </div>

            <div class="display-inline" style="border-top: 1px dotted #000; padding-top: 15px;">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput
                        name="username"
                        placeholder="Username"
                        [(ngModel)]="user.username"
                        formControlName="username"
                        required />
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput
                        type="password"
                        name="password"
                        placeholder="Password"
                        [(ngModel)]="user.password"
                        formControlName="password"
                        required />
                </mat-form-field>
            </div>
        </div>

        <div class="actions">
            <button mat-button type="button" class="btn-cancel" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button type="submit" color="primary">Register</button>
        </div>
    </form>
</section>