<section class="dialog-register">
  <h1 class="title">
    <mat-icon>lock</mat-icon>
    {{ 'pages.auth.register.title' | translate }}
  </h1>

  <form [formGroup]="formRegister" (ngSubmit)="register()">
      <div class="content">
          <p>
            {{ 'pages.auth.register.form.title' | translate }}
          </p>

          <app-alert *ngIf="error"
            [type]="error.type"
            [message]="error.message">
          </app-alert>

          <!-- name / email -->
          <div class="display-inline">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.name' | translate }}
              </mat-label>
              <input matInput
                name="name"
                placeholder="Name"
                [(ngModel)]="user.name"
                formControlName="name"
                required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.email' | translate }}
              </mat-label>
              <input matInput
                name="email"
                type="email"
                placeholder="E-mail"
                [(ngModel)]="user.email"
                formControlName="email"
                required />
            </mat-form-field>
          </div>

          <!-- username / phone -->
          <div class="display-inline">
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.username' | translate }}</mat-label>
                  <input matInput
                      name="username"
                      placeholder="Username"
                      [(ngModel)]="user.username"
                      formControlName="username"/>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'pages.auth.register.form.phone' | translate }}</mat-label>
                <input matInput
                    name="phone"
                    placeholder="Phone"
                    [(ngModel)]="user.phone"
                    formControlName="phone"/>
              </mat-form-field>
          </div>

          <!-- cep / street / number -->
          <div class="display-inline">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'pages.auth.register.form.address.cep' | translate }}</mat-label>
              <input matInput
                  name="cep"
                  placeholder="CEP"
                  [(ngModel)]="user.cep"
                  formControlName="cep"
                  (blur)="getAddress()"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.street' | translate }}
              </mat-label>
              <input matInput
                name="street"
                placeholder="Street"
                [(ngModel)]="user.street"
                formControlName="street"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.number' | translate }}
              </mat-label>
              <input matInput
                name="number"
                placeholder="Number"
                [(ngModel)]="user.number"
                formControlName="number"/>
            </mat-form-field>
          </div>

          <!-- city / district -->
          <div class="display-inline">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.district' | translate }}
              </mat-label>
              <input matInput
                name="district"
                placeholder="District"
                [(ngModel)]="user.district"
                formControlName="district"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.city' | translate }}
              </mat-label>
              <input matInput
                name="city"
                placeholder="City"
                [(ngModel)]="user.city"
                formControlName="city"/>
            </mat-form-field>
          </div>

          <!-- complement / state / country -->
          <div class="display-inline">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.complement' | translate }}
              </mat-label>
              <input matInput
                name="complement"
                placeholder="Complement"
                [(ngModel)]="user.complement"
                formControlName="complement"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.state' | translate }}
              </mat-label>
              <input matInput
                name="state"
                placeholder="State"
                [(ngModel)]="user.state"
                formControlName="state"
                maxlength="2"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.country' | translate }}
              </mat-label>
              <input matInput
                name="country"
                placeholder="Country"
                [(ngModel)]="user.country"
                formControlName="country"/>
            </mat-form-field>
          </div>

          <!-- company name / company type / company activity -->
          <div class="display-inline">
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.company.name' | translate }}</mat-label>
                  <input matInput
                      name="company_name"
                      [(ngModel)]="user.company_name"
                      formControlName="company_name"
                      required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.company.type' | translate }}</mat-label>
                  <mat-select [(value)]='user.company_type' formControlName='company_type' required>
                      <mat-option *ngFor="let company_type of listTypes" [value]="company_type">
                      {{ company_type }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.company.activity' | translate }}</mat-label>
                  <mat-select [(value)]='user.company_activity' formControlName='company_activity' required>
                      <mat-option *ngFor="let company_activity of listActivities" [value]="company_activity">
                      {{ company_activity }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

          <!-- password / confirm_password -->
          <div class="display-inline" style="border-top: 1px dotted #000; padding-top: 15px;">
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.password' | translate }}</mat-label>
                  <input matInput
                      type="password"
                      name="password"
                      [(ngModel)]="user.password"
                      formControlName="password"
                      required />
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.confirm_password' | translate }}</mat-label>
                  <input matInput
                      type="password"
                      name="confirmPassword"
                      [(ngModel)]="user.confirmPassword"
                      formControlName="confirmPassword"
                      required />
              </mat-form-field>
          </div>
        </div>

      <div class="actions">
        <button mat-button type="button" class="btn-cancel" (click)="closeDialog()">
          {{ 'pages.auth.register.form.button.close' | translate }}
        </button>
        <button mat-raised-button type="submit" color="primary">
          {{ 'pages.auth.register.form.button.register' | translate }}
        </button>
      </div>
  </form>
</section>
