.dialog-register {

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Arial';
        padding: 0;
        margin: 10px 0 0 0;

        .mat-icon {
            margin-right: 10px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            text-align: center;
        }

        .mat-form-field {
            margin-top: 10px !important;
        }

        .display-inline {
            display: flex;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        .btn-cancel {
            margin-right: 10px;
        }
    }
}