<section class="dialog-register">
  <h1 class="title">
    <mat-icon>lock</mat-icon>
    {{ 'pages.auth.register.title' | translate }}
  </h1>

  <form [formGroup]="formRegister" (ngSubmit)="register()">
      <div class="content">
          <p>
            {{ 'pages.auth.register.form.title' | translate }}
          </p>

          <app-alert *ngIf="error"
            [type]="error.type"
            [message]="error.message">
          </app-alert>

          <!-- full_name / email -->
          <div class="display-inline">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.full_name' | translate }}
              </mat-label>
              <input matInput
                name="name"
                placeholder="Name"
                [(ngModel)]="user.name"
                formControlName="name"
                required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.email' | translate }}
              </mat-label>
              <input matInput
                name="email"
                type="email"
                placeholder="E-mail"
                [(ngModel)]="user.email"
                formControlName="email"
                required />
            </mat-form-field>
          </div>


          <!-- ddd / phone / cep -->
          <div class="display-inline">
              <mat-form-field appearance="fill" style="width: 80px;">
                  <mat-label>DDD</mat-label>
                  <input matInput
                      name="ddd"
                      placeholder="DDD"
                      [(ngModel)]="user.ddd"
                      formControlName="ddd"/>
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.phone' | translate }}</mat-label>
                  <input matInput
                      name="phone"
                      placeholder="Phone"
                      [(ngModel)]="user.phone"
                      formControlName="phone"/>
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.address.cep' | translate }}</mat-label>
                  <input matInput
                      name="cep"
                      placeholder="CEP"
                      [(ngModel)]="user.cep"
                      formControlName="cep"
                      (blur)="getAddress()"/>
              </mat-form-field>
          </div>

          <!-- street / number / city -->
          <div class="display-inline">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.street' | translate }}
              </mat-label>
              <input matInput
                name="street"
                placeholder="Street"
                [(ngModel)]="user.street"
                formControlName="street"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.number' | translate }}
              </mat-label>
              <input matInput
                name="number"
                placeholder="Number"
                [(ngModel)]="user.number"
                formControlName="number"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.city' | translate }}
              </mat-label>
              <input matInput
                name="city"
                placeholder="City"
                [(ngModel)]="user.city"
                formControlName="city"/>
            </mat-form-field>
          </div>

          <!-- state / country -->
          <div class="display-inline">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.state' | translate }}
              </mat-label>
              <input matInput
                name="uf"
                placeholder="State"
                [(ngModel)]="user.uf"
                formControlName="uf"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'pages.auth.register.form.address.country' | translate }}
              </mat-label>
              <input matInput
                name="country"
                placeholder="Country"
                [(ngModel)]="user.country"
                formControlName="country"/>
            </mat-form-field>
          </div>

          <!-- organization.name / type / sector_activity -->
          <div class="display-inline">
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.organization.name' | translate }}</mat-label>
                  <input matInput
                      name="company"
                      [(ngModel)]="user.company"
                      formControlName="company"
                      required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.organization.type' | translate }}</mat-label>
                  <mat-select [(value)]='user.companyType' formControlName='companyType' required>
                      <mat-option *ngFor="let type of listTypes" [value]="type">
                      {{ type }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.organization.sector_activity' | translate }}</mat-label>
                  <mat-select [(value)]='user.sector' formControlName='sector' required>
                      <mat-option *ngFor="let sector of listSectors" [value]="sector">
                      {{ sector }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

          <!-- password / confirm_password -->
          <div class="display-inline" style="border-top: 1px dotted #000; padding-top: 15px;">
              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.password' | translate }}</mat-label>
                  <input matInput
                      type="password"
                      name="password"
                      [(ngModel)]="user.password"
                      formControlName="password"
                      required />
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>{{ 'pages.auth.register.form.confirm_password' | translate }}</mat-label>
                  <input matInput
                      type="password"
                      name="confirmPassword"
                      [(ngModel)]="user.confirmPassword"
                      formControlName="confirmPassword"
                      required />
              </mat-form-field>
          </div>
        </div>

      <div class="actions">
        <button mat-button type="button" class="btn-cancel" (click)="closeDialog()">
          {{ 'pages.auth.register.form.button.close' | translate }}
        </button>
        <button mat-raised-button type="submit" color="primary">
          {{ 'pages.auth.register.form.button.register' | translate }}
        </button>
      </div>
  </form>
</section>
