.dialog-reset-password{

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    padding: 0;
    margin: 10px 0 0 0;

    .mat-icon {
      margin-right: 10px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p:first-child {
      text-align: center;
      margin: 10px 0;
    }

    .mat-form-field {
      margin-top: 10px !important;
      padding: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .btn-cancel {
      margin-right: 10px;
    }
  }

}
