<section class="dialog-reset-password">
  <h1 class="title">
    <mat-icon>lock</mat-icon>
    {{ 'pages.auth.reset_password.title' | translate }}
  </h1>

  <form [formGroup]="form">
    <div class="content">
        <p>
          {{ 'pages.auth.reset_password.form.description' | translate }}
        </p>

        <app-alert *ngIf="error"
          [type]="error.type"
          [message]="error.message">
        </app-alert>

        <!-- email -->
        <mat-form-field appearance="fill">
          <mat-label>
            {{ 'pages.auth.reset_password.form.email' | translate }}
          </mat-label>
          <input matInput
            name="email"
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
            formControlName="email"
            required />
        </mat-form-field>

        <!-- new password -->
        <mat-form-field appearance="fill" style="margin-top: -15px !important;">
          <mat-label>
            {{ 'pages.auth.reset_password.form.new_password' | translate }}
          </mat-label>
          <input matInput
            type="password"
            name="new_password"
            placeholder="New password"
            [(ngModel)]="new_password"
            formControlName="new_password"
            required />
        </mat-form-field>

        <!-- confirm new password -->
        <mat-form-field appearance="fill" style="margin-top: -15px !important;">
          <mat-label>
            {{ 'pages.auth.reset_password.form.confirm_new_password' | translate }}
          </mat-label>
          <input matInput
            type="password"
            name="confirm_new_password"
            placeholder="Confirm new password"
            [(ngModel)]="confirm_new_password"
            formControlName="confirm_new_password"
            required />
        </mat-form-field>
    </div>

    <div class="actions">
      <button mat-button type="button" class="btn-cancel" (click)="closeDialog()">
        {{ 'pages.auth.forgot_password.form.button.close' | translate }}
      </button>
      <button mat-raised-button type="button" color="primary" (click)="resetPassword()">
        {{ 'pages.auth.forgot_password.form.button.submit' | translate }}
      </button>
    </div>
  </form>
</section>
