.outer {
  // Source: http://jsfiddle.net/cas07zq8/

  position: relative;
  height: 100vh;

  .inner {
    // vertical center
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    // horizontally center
    margin: auto;

    width: 50%;
  }
}

.dialog-reset-password {
  max-width: 500px;

  // horizontally center
  margin: auto;

  // border
  padding: 20px;
  border-style: solid;
  border-color: rgba(128,128,128,.5);

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    padding: 0;
    margin: 10px 0 0 0;

    .mat-icon {
      margin-right: 10px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p:first-child {
      text-align: center;
      margin: 10px 0;
    }

    .mat-form-field {
      margin-top: 10px !important;
      padding: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .btn-cancel {
      margin-right: 10px;
    }
  }

}
