/*
  general
*/

table{
  width: 100%;
}

/*
  ftp = feature table pagination component
*/

.ftp-container {
  // height: 400px;
  // width: 550px;
  overflow: auto;
}

.ftp-quicklook {
  height: 50px;
}

.ftp-td {
  padding: 0px 10px;
}

.ftp-action {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
      background: rgba(#000, 0.1);
  }
}

.ftp-actions-box {
  width: 105px;
}
