.feature-quicklook {
  height: 50px;
}

.example-container {
  // height: 400px;
  // width: 550px;
  overflow: auto;
}

table{
  width: 100%;
}

.action {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
      background: rgba(#000, 0.1);
  }
}

.actions-box{
  width: 105px;
}
