@import '~@angular/material/theming';

:root {
  --mainColor: #006666;
  --mainGrey: #CCCCCC;
  --mainBgPrimary: #006666;
  --mainBgGray: #DBDFE3;
  --mainBgLight: #EEE;
}

$theme-primary: mat-palette($mat-blue);
$theme-accent : mat-palette($mat-green);
$theme-warn   : mat-palette($mat-red);

$theme: mat-light-theme(
  $theme-primary,
  $theme-accent,
  $theme-warn
);
